.form {
    display: grid;
    grid-template-columns: 1fr 150px;
    grid-gap: 20px;
    border: solid  hsl(0, 0%, 90%);
    border-width: 1px 1px 7px 1px;
    background-color: white;
    padding: 20px;
    margin: 0;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__button {
    border: 2px solid teal;
    background-color: teal;
    color: white;
    padding: 10px;
    transition: 1s;
}

.form__button:hover {
    background-color: hsl(180, 100%, 30%);
    transform: scale(1.15);
}

.form__input {
    border: 2px solid  hsl(0, 0%, 90%);
    padding: 10px;
}